.register_form_user > .form-group label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    width: 170px;
}

.register_form_user > .form-group > input[type="text"], .register_form_user > .form-group > input[type="password"], .register_form_user > .form-group > input[type="email"] {
    
     border-color: #dddddd;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 2px 1px 1px 2px;
    color: #888888;
    font-size: 14px;
    height: 36px;
    margin-bottom: 10px;
    width: 200px;
}

.register_form_user > .form-group > .sel-wrap-friont {
    display: inline-block;
    width: 50%;
}
.register_form_user > div > .sel-wrap-friont > div > input[type="text"]{
     border-color: #dddddd;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 2px 1px 1px 2px;
    color: #888888;
    font-size: 14px;
    height: 36px;
    margin-bottom: 10px;
    width: 200px;
    
}

.register_form_profile > .block > .fieldset {
    text-align: center;
}

.register_form_profile > .block > .fieldset > fieldset > .field > label {
     width: 250px;
    
}

.register_form_profile > .block > .fieldset > fieldset > div > .sel-wrap-friont {
    display: inline-block;
    
}

.register_form_profile > .block > .fieldset > fieldset > div > .sel-wrap-friont > select {
    
    width: 300px !important;
}

.register_form_profile > .block > .buttons {
    text-align: center;
}
 
.register_form_profile > .block > .fieldset > fieldset > .field > input[type="text"],.register_form_profile > .block > .fieldset > fieldset > .field > input[type="password"],
.register_form_profile > .block > .fieldset > fieldset > .field > input[type="email"]
{
    
    width: 300px;
}
.register_form_profile {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.register_form_profile > .block > h2 {
    text-align: center;
}


glyphicon-chevron-left {
  
  background-image:url(../img/icon.png);
  
  background-position: center top -134px;
}
.glyphicon-chevron-right {
  
  background-image:url(../img/icon.png);
  
  background-position: center top -97px;
}

.glyphicon-chevron-left {
  
  background-image:url(../img/icon.png);
  
  background-position: center top -133px;
}

.btn.btn-link > img {
    position: relative;
    top: -2px;
}
/*
.top-menu li a {
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    color: #ffffff;
    display: inline;
    float: left;
    margin-right: 0;
    text-transform: uppercase;
	padding:6px 10px 0px 25px;
}
*/
.glyphicon-user{
     background-image: url("../img/icon.png");
    background-position: -2px -4px;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    
}

.glyphicon-pencil{
     background-image: url("../img/icon.png");
    background-position:-2px -57px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    
}

.glyphicon-lock{
     background-image: url("../img/icon.png");
    background-position: -2px -31px;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    
}



.top-menu li.sign_in a {
    background-position: -2px -31px;
}

.top-menu li.account a {
    background-position: -2px -2px;
}

.top-menu li.create_acnt a {
    background-position: 0 -58px;
}

.register_form_password{
    
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    
}

.register_form_password > .block > h2 {
    text-align: center;
}

.register_form_password > .block > .fieldset {
    text-align: center;
}

.register_form_password > .block > .buttons {
    text-align: center;
}

.register_form_password > .block > .fieldset > fieldset > .field > label {
     width: 170px;
    
}
.register_form_bookaddress {
     background-color: #f5f5f5;
    border: 1px solid #ddd;
    
}
.register_form_bookaddress > .block > h2{
    
    text-align: center;
}

.register_form_bookaddress > .block > .fieldset {
    text-align: center;
}

.register_form_bookaddress > .buttons {
    text-align: center;
}

.register_form_bookaddress > .block > .fieldset > fieldset > .field > label {
     /*width: 170px;*/
    width: 250px;
}

.register_form_bookaddress > .block > .fieldset > fieldset > div > .sel-wrap-friont {
    display: inline-block;
}

.register_form_bookaddress > .block > .fieldset > fieldset > div > .sel-wrap-friont > select {
    width: 300px !important;
    /*width: 220px;*/
}

.register_form_bookaddress > .block > .fieldset > fieldset > .field > input[type="text"], .register_form_bookaddress > .block > .fieldset > fieldset > .field > input[type="password"], .register_form_bookaddress > .block > .fieldset > fieldset > .field > input[type="email"] {
    width: 300px;
}

.register_form_bookaddress > .block > .fieldset > fieldset > .field > label > div {
     width: 250px;
    
}

.register_form_bookaddress > .block > .fieldset > fieldset > .field > .sel-wrap-friont > div > input[type="text"], .register_form_bookaddress > .block > .fieldset > fieldset > .field > .sel-wrap-friont > div > input[type="password"], .register_form_bookaddress > .block > .fieldset > fieldset > .field  > .sel-wrap-friont > div > input[type="email"] {
    width: 300px;
}

.register_form_bookaddress > .block > .fieldset > fieldset > #CityBillOther_Div > div {
    display: inline-block;
}

.register_form_bookaddress > .block > .fieldset > fieldset > #CityBillOther_Div > div input[type="text"] {
    width: 300px;
}


.col-50.addresslist {
    float: right;
    margin-right: 19px;
}

.address_heading {
    display: inline-block;
    float: left;
}

.wishlist {
    
    background: #e1e1e1 none repeat scroll 0 0;
}

.wish_head {
    font-weight: bold;
    text-align: center;
}

.wish-field {
    background: #fff none repeat scroll 0 0;
}

.wish-field > td {
    text-align: center;
    height: 55px;

}

.wishlist_edit td > input[type="text"] {
   height: auto; 
}

.register_form_newsletter > .block >  .buttons {
    text-align: center;
}

.register_form_newsletter > .block > .fieldset > fieldset > .field {
    
    border-radius: 4px;
    margin: 0 auto;
    width: 22%;
}

.email_friend_form > table > tbody > tr > .blackbold {
    padding-right: 10px;
}

#emailTo_Friend_div > h3 {
    text-align: center;
}

.recommend_products_list > .listing_prod.clearfix > li {
    margin-right: 15px;
    border: 0px solid rgb(221, 221, 221);
    height: auto;
    float: left;
    width: calc(20% - 15px);
    margin-top: 10px;
    margin-bottom: 20px;
}

.recommend_products_list > .listing_prod.clearfix > li > .img {
    
     display: inline-block;
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.recommend_products_list > .listing_prod.clearfix > li > .details {
    
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
    
}

#write_review_div > h3 {
    text-align: center;
}

.write_review > table > tbody > tr > .blackbold {
    padding-left: 4px;
    padding-right: 12px;
    vertical-align: top;
}

.write_review > table > tbody > tr > .blacknormal > input[type="text"]{
    
    width: 99%;
    
}

#add_ProductWishList_div > h3 {
    text-align: center;
}

.list1 {
    border: 1px solid #ddd;
    margin-top: 1px;
}

.wishbutton {
    text-align: center;
}

#create_ProductWishList_div > h3 {
    text-align: center;
}

#wishListId > table > tbody > tr > .blackbold {
    padding-right: 10px;
}


#top_currency_id {
    width: 120px;
}

.currency {
    display: inline-block;
    float: left;
}

.cartbag{
    
    display: inline-block;
}

.cartbag > ul > li {
     width: 200px !important;
} 

.nav.navbar-nav li > ul {
    
     margin-left: 14px ;
}

.emailto_f {
    margin-left: 16px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff !important;
    text-decoration: none;
}

.container.account div {
   
    margin-top: 0px !important;
}
.model-dialog > .modal-content > .modal-body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.model-dialog > .modal-content > .modal-body > .register_form_user {
      height: 450px;
}
.model-dialog > .modal-content > .modal-body > .register_form_user > .btn.btn-primary {
    margin-bottom: 10px;
}
.row iframe {
    width: 77px;
    height: 21px !important;
}

.red {
    color: red;
}

.container-folio.row {
    min-height: 300px;
}
/*
.emailWishlist {
   background-image: url("../img/icon3.png");
   height: 22px !important;
    width: 22px !important;
}
*/


.block.quick_find {
    float: right;
    margin-bottom: 5px;
    margin-right: -40px;
    width: 25%;
}

.glyphicon-search{
	
	 background-image: url("../img/icon_search.png");
    background-position: -41px -95px;
    height: 22px !important;
    width: 22px !important;

}
.successMsg{
	color: #5c9436;
	 font-weight: bold;
	}
.warningMsg{
	color: #e51f31;
	 font-weight: bold;
	}
.rating-value {
        display: inline-block;
        float: left;

        }
.reviews {
    margin-bottom: 10px;
    margin-top: 10px;
    }
    
    .modal-header{
        
          background-color: #C50303;
    }

ul.listing_prod li .img img {
    width: 100%;
}
.recommend_products_list > .listing_prod.clearfix > li > .details .name a{ font-size: 13px; color: #0884c1; font-weight: 600;}
.recommend_products_list > .listing_prod.clearfix > li > .details .price {
    margin: 4px 0px;
    font-weight: 600;
}
.product-details .carousel-control > span {
    display: none;
}
.carousel-control{ -webkit-transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; transition:.3s;}
.left.carousel-control {
    left: -40px;
}
.right.carousel-control {
    right: -40px;
}
div#myCarousel{ overflow:hidden;}
div#myCarousel:hover .left.carousel-control {
    left: 0px;
}
div#myCarousel:hover .right.carousel-control {
    right: 0px;
}
.product-details div#myCarousel .carousel-inner .item img {
    width: 100%;
    height: auto;
}
.product-details .carousel-control {
    background-color: transparent !important;
}
h2.productName {
    font-size: 18px;
    margin: 0px 0px 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #008ace;
}
.emailto_f .btn:hover {
    color: #fff !important;
}